$cardWidth: 200px;
$cardGap: 48px;

.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: $cardGap;
  justify-content: center;
  margin: 0 auto;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $cardWidth);
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    grid-template-columns: repeat(3, $cardWidth);
  }

  @media (min-width: 488px) and (max-width: 767px) {
    grid-template-columns: repeat(2, $cardWidth);
  }

  @media (max-width: 487px) {
    grid-template-columns: repeat(1, $cardWidth);
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
